PORT=5000
MONGODB_URI=mongodb://<username>:<password>@<cluster>.mongodb.net/Electro-Shop
JWT_SECRET=chuoi_ki_tu_bao_mat_cua_ban
DEFAULT_AVATAR_URL=https://res.cloudinary.com/your-cloud-name/image/upload/v12345/avatar/default_avatar.png

# Cloudinary (Cloud ảnh)
CLOUDINARY_CLOUD_NAME=ten_cloud_cua_ban
CLOUDINARY_API_KEY=api_key_cua_ban
CLOUDINARY_API_SECRET=api_secret_cua_ban

# Mailtrap (Gửi mail xác nhận)
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USERNAME=username_mailtrap
EMAIL_PASSWORD=password_mailtrap

# VNPay
VNP_TMN_CODE=ma_website_vnpay_sandbox
VNP_HASH_SECRET=chuoi_bi_mat_vnpay
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_API_URL=https://sandbox.vnpayment.vn/merchant_webapi/api/transaction
VNP_RETURN_URL=http://localhost:5173/invoice